aws_region = "us-east-1"

enable_guardduty             = true
guardduty_s3_protection      = true
guardduty_eks_protection     = true
guardduty_malware_protection = true

enable_security_hub = true
security_hub_standards = [
  "aws-foundational-security-best-practices/v/1.0.0",
  "cis-aws-foundations-benchmark/v/1.4.0",
]

enable_config_aggregator = true
enable_access_analyzer   = true

log_archive_bucket_name = "acme-log-archive-security-findings"

security_notification_emails = [
  "security-team@example.com",
]
