aws_region        = "us-east-1"
organization_name = "acme"

organizational_units = {
  Security = {
    parent = "Root"
  }
  Infrastructure = {
    parent = "Root"
  }
  Workloads = {
    parent = "Root"
  }
  Production = {
    parent = "Workloads"
  }
  NonProduction = {
    parent = "Workloads"
  }
  Sandbox = {
    parent = "Root"
  }
}

scp_allowed_regions = ["us-east-1", "us-west-2", "eu-west-1"]

enable_iam_identity_center = true
delegated_admin_account_id = ""
