aws_region        = "us-east-1"
organization_name = "acme"

vpc_cidr           = "10.1.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]

transit_gateway_id = "tgw-xxxxxxxxxxxxxxxxx"
tgw_route_table_id = "tgw-rtb-xxxxxxxxxxxxxxxxx"

enable_ecr = true
ecr_repositories = [
  "app-backend",
  "app-frontend",
]
